body {
  margin: 0;
  overflow: hidden;
  background-color: #12182B;
  display: flex;
  flex-direction: column; /* Arrange header and wrapper vertically */
  align-items: center;    /* Center horizontally */
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 20px 0;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.logo-container-header {
  display: flex;
  align-items: center;
}

.logo-header {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.logo-text {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

nav a:hover {
  opacity: 1;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 21;
  animation: fadeIn 0.3s ease-out;
}

.popup-content {
  background-color: #12182B;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  position: relative;
  animation: floatIn 0.5s ease-out;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.close-button:hover {
  opacity: 1;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes floatIn {
  from { transform: translateY(-50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  color: #ADD8E6;
  font-family: 'Montserrat', sans-serif;
}

.center-logo {
  width: 120px;
  height: auto;
  margin-bottom: 15px;
}

#center-text {
  font-size: 28px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
}

#typing-animation {
  display: inline-block;
  overflow: hidden;
  border-right: .1em solid #FFA07A;
  white-space: nowrap;
  animation: typing-center 4s steps(30, end) infinite, blink-caret 0.75s step-end infinite;
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
}

@keyframes typing-center {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #FFA07A; }
}

